@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>
<hr />
<br /><br />

<h2>Age, inquies, ista parva sunt.</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum id quoque, ut cupiebat, audivisset, evelli iussit eam, qua erat transfixus, hastam. Sextilio Rufo, cum is rem ad amicos ita deferret, se esse heredem Q. Ut alios omittam, hunc appello, quem ille unum secutus est. Quae diligentissime contra Aristonem dicuntur a Chryippo. Et harum quidem rerum facilis est et expedita distinctio. Duo Reges: constructio interrete. Quare conare, quaeso. </p>

<ul>
    <li>Nec vero alia sunt quaerenda contra Carneadeam illam sententiam.</li>
    <li>Ne tum quidem te respicies et cogitabis sibi quemque natum esse et suis voluptatibus?</li>
    <li>Hic nihil fuit, quod quaereremus.</li>
    <li>Transfer idem ad modestiam vel temperantiam, quae est moderatio cupiditatum rationi oboediens.</li>
    <li>Ex quo illud efficitur, qui bene cenent omnis libenter cenare, qui libenter, non continuo bene.</li>
</ul>


<h3>Non igitur de improbo, sed de callido improbo quaerimus, qualis Q.</h3>

<p><i>Quid enim?</i> Ita fit cum gravior, tum etiam splendidior oratio. Que Manilium, ab iisque M. </p>

<p>Pisone in eo gymnasio, quod Ptolomaeum vocatur, unaque nobiscum Q. Aliter enim explicari, quod quaeritur, non potest. Cum id quoque, ut cupiebat, audivisset, evelli iussit eam, qua erat transfixus, hastam. Mihi quidem Antiochum, quem audis, satis belle videris attendere. Videamus animi partes, quarum est conspectus illustrior; </p>


